@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.task-form {
  max-width: 450px;

  &__input {
    @include input;
  }

  &__check {
    display: block;
    margin: 10px 0 20px;
    cursor: pointer;
  }

  &__btn {
    @include button($blue-color);
  }
}
