@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.login-form {
  text-align: center;

  &__input {
    @include input;
  }

  .login-btn {
    @include button($dark-color, initial, 1rem);
    margin-bottom: 15px;
  }

  .login-options {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  }

  .btn-link {
    @include linkButton;
  }
}
