@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.forgot-form {
  width: 100%;
  max-width: 380px;
  text-align: center;

  @media screen and (min-width: 920px) {
    max-width: initial;
    width: 380px;
  }

  &__title {
    margin: 0 0 20px;
    font-size: 1.05rem;
    font-weight: normal;
    color: rgb(113, 110, 110);
  }

  &__input {
    @include input;
  }

  &__btn {
    @include button($dark-color, initial, 1rem);
    margin: 20px 0;
  }

  &__link {
    @include linkButton;
  }

  .options {
    margin-top: 20px;

    &__name {
      display: block;
    }

    &__btn {
      @include linkButton;
    }
  }
}
