@import '../../../assets/styles/mixins.scss';

.forgot-password {
  text-align: center;

  &__title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
    color: rgb(113, 110, 110);
  }

  &__btn {
    @include linkButton;
  }
}
