.task-list {
  margin-bottom: 50px;

  &__title {
    font-size: 1.8rem;
    padding-top: 20px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
}
