@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.register-form {
  text-align: center;

  &__input {
    @include input;
  }

  .register-btn {
    @include button($dark-color, initial, 1rem);
  }

  .register-options {
    margin: 20px 0 25px;
    display: flex;
    justify-content: flex-end;

    .btn-link {
      @include linkButton;
    }
  }
}
