@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.register-form {
  width: 100%;
  max-width: 380px;
  text-align: center;

  @media screen and (min-width: 920px) {
    max-width: initial;
    width: 380px;
  }

  &__input {
    @include input;
  }

  .register-btn {
    @include button($dark-color, initial, 1rem);
  }

  .register-options {
    margin: 20px 0 25px;
    display: flex;
    justify-content: flex-end;

    .btn-link {
      @include linkButton;
    }
  }
}
