.password-form {
  text-align: center;

  &__input {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      font-size: 0.9rem;
    }

    &.error {
      border: 1px solid #b80505;

      &::placeholder {
        color: #b80505;
      }
    }
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 20px auto;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  .options {
    &__name {
      display: block;
    }

    &__btn {
      position: relative;
      padding: 0;
      background-color: transparent;
      color: rgb(13, 13, 175);
      border: none;
      margin: 0;
      font-size: 1rem;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgb(13, 13, 175);
        top: 23px;
      }
    }
  }
}
