@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.password-form {
  width: 100%;
  max-width: 380px;
  text-align: center;

  @media screen and (min-width: 920px) {
    width: 380px;
    max-width: initial;
  }

  &__input {
    @include input;
  }

  &__btn {
    @include button($dark-color, initial, 1rem);
    margin: 20px 0;
  }

  .options {
    &__name {
      display: block;
    }

    &__btn {
      @include linkButton;
    }
  }
}
