@import '../styles/variables.scss';
@import '../styles/mixins.scss';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(254 253 253);
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}
