body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(254 253 253);
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 720px) {
    width: 85%;
    margin: auto;
  }
}
